@charset "utf-8";
/* CSS Document */
* { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
/* CSS Header */

/* searchbar*/
.form-inline{
  position: absolute;
  left: 450px;
  top: 35px;
}
.btn-outline-success {
    color: #333;
    border-color: #333;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f9bc51;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
}
/* searchbar*/
/*login*/
.flex-form-container{
  position: absolute;
  right: 75px;
  bottom: 50px;
}
.btn-warning {
    color: #212529;
    background-color: #f9bc51;
    border-color: #ffc107;
}
/*login*/
.navbar.navbar-light{

  background-color: #FFF
}
.ForgotPassword{
	position: absolute;
	right: 45px;
	top: 25px;
}
/* CSS BODY */
#cover {
  background:url("../img/spider-man-into-spider-verse.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 580px;
  padding-bottom: 80px;
  text-align: center;
  max-height: 50px;
}

.titolo-cover{
  font-weight: bold;
  font-size: 20px;
  color: #ffc107;
}

.navbar.navbar-light{

  background-color: #FFF
}


/*CSS BODY*/

/* CSS FOOTER*/
.footer{
	
  background: #333;
  padding:30px;
  color:#fff;
  margin-top:40px;
  position:relative;
  margin-top: -100px;
  clear:both;

}

.colore{
	background-color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

