*{
	margin : 0;
	padding: 0;

}

html, body{
	
	height: 100%;
	
}

#main{
	
	overflow: auto;
	
}

#container{
	
	min-height: 100%;
	
}

.UserLogo{
	position: absolute;
	top: 150px;
	left: 150px;
}
.UsernameEmail{
	position: absolute;
	top: 170px;
	left: 275px;
	
}