*{
	margin : 0;
	padding: 0;
}

html, body{
	
	height: 100%;
	
}

#main{
	
	overflow: auto;
	
}

#container{
	
	min-height: 100%;
	
}

.UserLogo{
	position:absolute;
	top: 580px;
    left: 600px;
    bottom: 600px;
	
}
.UsernameEmail{
	
	position:absolute;
	top: 730px;
    left: 610px;
	
	
} 

#cover1{
	
 background:url("../img/costieraamalfitana.jpg") no-repeat center center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 580px;
  padding-bottom: 80px;
  text-align: center;
  max-height: 50px;
	
}
